.form-control {
  border: none;
  border-bottom: 0.6px lightgray solid;
  max-width: 70%;
  margin: auto;
  margin-bottom: 2%;
}

.label {
  border: none;
  margin-bottom: 0;
}

.card-header {
  background-color: lightgray;
}

.card-footer {
  background-color: lightgray;
}

#contact-form {
  margin-top: 100px;
  margin-bottom: 100px;
}
