<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="about-logo">
      <img src="../../../assets/images/Logo MArtinu's RVB.svg" alt="logo association Martinu's">
    </div>
    <p id="main-mission">L'association Martinu’s Man-Elende a pour objectif d’<span class="bolding">encourager
        l’éducation dans une école primaire de Leyong</span>, un village situé dans la commune de la Lekié au
      Cameroun.</p>
  </div>
  <div class="col-sm-4"></div>
</div>
<div class="container-fluid">

  <div class="row">
    <div class="col-sm-3 mission-item">
      <a class="circle-link" title="Animations" target="_blank" rel="noopener">
        <img src="../../../assets/icons/school-material.png" width="87.252" height="93.812" alt="">
      </a>
      <p>Améliorer le quotidien des écoliers en leur fournissant le <span class="bolding">matériel et les fournitures scolaires</span> dont ils ont
        besoin .</p>
    </div>
    <div class="col-sm-3 mission-item">
      <a class="circle-link" title="Animations" target="_blank" rel="noopener">
        <img src="../../../assets/icons/financial-support.png" width="87.252" height="93.812" alt="">
      </a>
      <p>Venir en aide aux familles en leur apportant <span class="bolding">un soutien financier</span>.</p>
    </div>
    <div class="col-sm-3 mission-item">
      <a class="circle-link" title="Animations" target="_blank" rel="noopener">
        <img src="../../../assets/icons/potential-brain.png" width="87.252" height="93.812" alt="">
      </a>
      <p>Permettre aux générations à venir de <span class="bolding">réaliser au mieux leur potentiel</span> dès le plus jeune âge.</p>
    </div>
    <div class="col-sm-3 mission-item">
      <a class="circle-link" title="Animations" target="_blank" rel="noopener">
        <img src="../../../assets/icons/learning.png" width="87.252" height="93.812" alt="">
      </a>
      <p>Renforcer l’<span class="bolding">accès des enfants à l’apprentissage</span> pour leur permettre d’acquérir des connaissances et des
        compétences essentielles dans leur vie quotidienne.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 mission-item">
      <a class="circle-link" title="Animations" target="_blank" rel="noopener">
        <img src="../../../assets/icons/graduation.png" width="87.252" height="93.812" alt="">
      </a>
      <p>Favoriser l’accès des <span class="bolding">filles à l’éducation</span>.</p>
    </div>
    <div class="col-sm-4 mission-item">
      <a class="circle-link" title="Animations" target="_blank" rel="noopener">
        <img src="../../../assets/icons/school.png" width="87.252" height="93.812" alt="">
      </a>
      <p><span class="bolding">Réhabiliter l’établissement et ses infrastructures</span> en offrant des biens utiles aux enfants afin qu’ils
        s’épanouissent au quotidien dans leur classe : latrines, cantine, pharmacie.</p>
    </div>
    <div class="col-sm-4 mission-item">
      <a class="circle-link" title="Animations" target="_blank" rel="noopener">
        <img src="../../../assets/icons/christmas.png" width="87.252" height="93.812" alt="">
      </a>
      <p>Organiser annuellement un voyage au Cameroun en décembre et <span class="bolding">offrir des jouets aux enfants</span> scolarisés.</p>
    </div>
  </div>
</div>
