.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
  padding-left: 10%;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

footer {
  align-items: center;
  line-height: 15px;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: lightgray;
  width: 100%;
  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
}

footer a {
  // display: flex;
  align-items: center;
}

svg#clouds {
  position: fixed;
  bottom: -200px;
  left: -230px;
  z-index: -10;
  width: 100%;
}

.admin {
  padding-left: 3%;
  padding-top: 0.5%;
}
.admin a {
  color: white;
}


