#event-container {
  margin: auto;
}

.events-container {
  padding: 3% 5% 5% 5%;
}

.container {
  padding-right: 0;
  padding-left: 0;
  margin: auto !important;
}

.event-card {
  margin-right: 10px;
  max-width: 60%;
}

.event-card-body {
  height: 150px;
  font-size: 0.8em;
  overflow: overlay;
  margin-bottom: 5px;
}

.pagination-container {
  margin-left: 15%;
}

.event-btn {
  margin-left: 4%;
  font-size: 0.6em;
}

.events-informations {
  font-size: 1em;
  margin: auto;
  text-align: center;
}


.event-form-card-header {
  background-color: lightgray;
}

.event-form-card-footer {
  background-color: lightgray;
}

#event-form {
  margin-top: 100px;
  margin-bottom: 100px;
}
